<%= content_tag :li, id: dom_id(message) do %>
  <div class="relative pb-8">
    <div class="relative flex items-start space-x-3">
      <div class="relative">
        <div class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"></div>
      </div>
      <div class="min-w-0 flex-1">
        <div>
          <div class="text-sm">
            <a href="#" class="font-medium text-gray-900"><%= message.created_by.email %></a>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">
            <%= message.created_at.to_s(:short) %>
          </p>
        </div>
        <div class="mt-2">
          <div class="prose prose-sm">
            <%== Kramdown::Document.new(message.content, header_offset: 1, input: 'GFM').to_html %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>