<div class="flex">
  <%= render 'rooms/rooms', rooms: @rooms %>

  <div class="flex-grow">
    <div class="container">
      <p class="text-center p-4 text-gray-600 font-medium text-xl">Select a room to get started</p>
    </div>
  </div>
</div>
